footer
 .container-foot
  .row
    .col-md-3.col-xs-6
      a(href='/')
        h5 Homepage
        .hidden-sm.hidden-xs
         h5 Log In
         h5 Sign Up
    .col-md-3.col-xs-6
      a(href='/pages/about')
        h5 About
        .hidden-sm.hidden-xs
         h5 Our Team
         h5 Vision
    .col-md-3.col-xs-6
      .hidden-sm.hidden-xs
        a(href='/contact')  
         h5 Questions
         h5 Contact our staff in Berkeley
      a(href='mailto:support@acuityformoms.com', target='_top')
        h5 support@acuityformoms.com
    .col-md-3.col-xs-6
      h5 Acuity © 2017 Company, Inc.
      .hidden-sm.hidden-xs
       a(href='https://www.facebook.com/acuityformoms/?fref=ts', target='_blank')
        img(src='../images/logo_facebook.png', style='width:40px;height:40px;')
       a(href='https://www.linkedin.com/company-beta/17946363/', target='_blank')
        img(src='../images/logo_linkedin.png', style='width:30px;height:30px;')
