footer
 .container-foot
  .row
    .col-md-3.col-xs-6
      a(href='/')
        img(src='../images/acuity-logo.png', style='width:200px;height:80px;')
    .col-md-3.col-xs-6
      a(href='/pages/about')
        h4 About
      a(href='/contact')  
        h4 Contact us

    .col-md-3.col-xs-6
      .hidden-sm.hidden-xs
        h4 Acuity 
        h4 © 2017 Company, Inc.
    .col-md-3.col-xs-6
       .hidden-sm.hidden-xs
        a(href='https://www.facebook.com/acuityformoms/?fref=ts', target='_blank')
         img(src='../images/logo_facebook.png', style='width:80px;height:80px;')
        a(href='https://www.linkedin.com/company-beta/17946363/', target='_blank')
         img(src='../images/logo_linkedin.png', style='width:60px;height:60px;')
