extends ../layout

block content
  .container
   .about
    .row
      br
      br
      br
      .col-md-12
        h3  About us
        p.infotextmilieu
          | Our mission is to help stay at home
          br
          |  mothers re-enter the workforce through
          br
          |  our personalised learning experience
          br
          |  and social community.
          br
          br
          |             We believe that diversity in the
          br
          |   workplace has myriads of benefits:
          br
          |   from driving innovation, increasing creativity
          br
          |   to capturing more of the market.
          br
          br
          | More mothers and women in the
          br
          |   workforce will have a hugely positive
          br
          |   impact on our society.
        br
   .row
    br
    br
    br
    .col-sm-8
      h3  Our story
      p.infotext
        | Acuity for moms was born out of a research project at the University of California Berkeley. We recently joined the Free Ventures accelerator in Berkeley and are developing the project in the Bay area.
        br
        br
        | Education is now widely accessible online but most people are unaware of these incredible ressources.
        br
        br
        | Having personally experienced or witnessed stay at home mothers strugglling to get back to the workforce, we have decided to apply the potential of online education and networks to help moms.
    .col-sm-4
      br
      img(src='../images/about_berkeley.png', style='width:370px;height:130px;')
      br
      br
      br
      img(src='../images/about_freeventures.png', style='width:200px;height:130px;')
   .row
    br
    br
    br
    h3.gros  Our Team
    .col-sm-4
      br
      img(src='../images/about_photo_adlen.png', style='width:195px;height:195px;')
      h4.nom Adlen Berkani
    .col-sm-4
      br
      img(src='../images/about_photo_rosie.png', style='width:195px;height:195px;')
      h4.nom Rosie Serrato
    .col-sm-4
      br
      img(src='../images/about_photo_morad.png', style='width:195px;height:195px;')
      h4.nom Morad Mouheb
   .row
    .col-sm-4.col-md-offset-2
      br
      img(src='../images/about_photo_lexi.png', style='width:195px;height:195px;')
      h4.nom Alexandra Burbey
    .col-sm-4
      br
      img(src='../images/about_photo_kaycee.png', style='width:195px;height:195px;')
      h4.nom Kaycee Antosiak
  hr
