/* All pages */

body {
  font-family: "Roboto";
      padding-top: 110px;
}

h4, .h4 {
    font-size: 22px;
}

.btn-default, .btn-default:focus {
  background-image: linear-gradient(to bottom, #0099AD , #0099AD ); }

/* Header */
.brand {
  color: #0099AD;
  font-family: "Brush Script MT";
  font-size: 32px;
}

a:hover, a:focus {
    color: #0099AD;
    text-decoration: underline; }

ul.nav.navbar-nav {
  margin-top: 10px;
}
/* Homepage */

p.lead {
  font-size: 30px;
}

.btn.btn-default{
      height: 55px;
      width: 320px;
      font-size: 28px;
      border-color: white;

}

.btn-default, .btn-default:focus {
    background-image: linear-gradient(to bottom, #0099AD , #0099AD );
}

a.btn.btn-default{
margin-top: 50px;
}

.navbar-brand{
 margin-top: 0px;
 padding-top: 0px;
}

div.navbar.navbar-default.navbar-fixed-top {
  min-height: 100px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 16px;
}

.container-fluid-wider{
  background-image : url('/images/homepage_mainphoto.png');
  background-size: cover;
  height: 450px;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.container-fluid-wider2{
  background-image : url('/images/mosaic.png');
  background-size: cover;
  height: 450px;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.container-fluid-wider1{
  background-image : url('/images/digitalmarketer_mainphoto.png');
  background-size: cover;
  height: 450px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-top: -10px;
  color: white;
}

.container{
  text-align: center;
}

#cache {
  background-color: rgba(133, 133, 133, 0.4);
  background-size: cover;
   height: 450px;
   width: 100%;
  text-align: center;
  color: white;
  text-align: center;
 padding: 0 0 0 0;
  margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}

#cache1 {
  background-color: rgba(133, 133, 133, 0.6);
  background-size: cover;
   height: 450px;
   width: 100%;
  text-align: center;
  color: white;
  text-align: center;
 padding: 0 0 0 0;
  margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}

.btn-default {
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: #0099AD;
  border-color: #0099AD; }
  .btn-default:focus, .btn-default.focus {
    color: white;
    background-color: #0099AD;
    border-color: white; }
  .btn-default:hover {
    color: white;
    background-color: #0099AD;
    border-color: white; }

 h3, h4, h5 {
    color: #0099AD;
  }


p.infotext {
  text-align: left;
  color:#0099AD;
  font-size: 18px;
}

p.infotextmilieu {
  color:#0099AD;
  font-size: 18px;
}

.cache4 {
  background-color: rgba(133, 133, 133, 0.15);
  background-size: cover;
  position: relative;
  top: 0px;
  left: 0px;
  min-height: 550px;
}

/* Footer */

 .container-foot {
   top-margin: 0px;
   text-align:center;
 }

/* About */
 .about {
   background-color: rgba(133, 133, 133, 0.15);
   background-size: cover;
   position: relative;
   top: 0px;
   left: 0px;
   min-height: 550px;
 }

/* Form */
 #surveyContainer {
   text-align:left;

 }

/* Roadmap */
#roadmap-titre {
    color:  #D92E3C;
  }

  .box {
        height: 105px;
        background-color: #EBEBEB;
        border: 2px solid #0099AD;
        border-radius: 5px;
        padding-left:10px;
  }

  .left {
    text-align: left;
  }

  .box2 {
        border: 2px solid rgba(0, 0, 0, 0.50);
        position: relative;
        width: 154px;
  }

  .box1 {
        border: 2px solid rgba(0, 0, 0, 0.50);
        position: relative;
        height:127px;
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
  }

  .box4 {
        position: relative;
        height:127px;
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
  }


  .box5 {
        background-color: #EBEBEB;
        border: 2px solid #EBEBEB;
        position: relative;
        min-height:127px;
  }



  .box3 {
        border: 2px solid rgba(0, 0, 0, 0.50);
        position: relative;
        height:127px;
  }

  .box6 {
        border: 2px solid rgba(0, 0, 0, 0.250);
        position: relative;
        height:100%;
        min-height: :127px;
        max-width: 200px;
  }

  .disparait {
      height: 100px;
      width: 100px;
      display: inline-block;
      background-color: #F38630;
      border-radius: 5px;
  }

h4.center {
  text-align: center;
}

p.form {
  font-size: 18px;
}
