extends ../layout

block content
  .container-fluid-wider2
   #cache1
     #centre
      p.lead Diversify your talent pool by getting Access to our pool of qualified mothers
      p 
       a.btn.btn-default(href='mailto:support@acuityformoms.com', role='button') Start Hiring Mothers »
  
  .container   
   .row
      h3  What Is Acuity Talent?

      .col-sm-2
      .col-sm-8
       br
       br
      
       p.infotext 
        | Talent is a new way for businesses to diversify their recruitment pool.
        | Acuity eliminates the pain of recruiting by matching the perfect graduate with an amazing job opportunity at your company.
        | The talent gap just got smaller..
      
      
       br
       br
       br
        
       
       h3  Join other companies that are helping mothers to re-enter the workforce:
       br
       br
       br

  
      .col-md-3.col-xs-6
        img(src='../images/leadgenius.png', style='width:150px;height:50px;')
      .col-md-3.col-xs-6.hidden-sm.hidden-xs
        img(src='../images/demandbase.png', style='width:150px;height:30px;')
      .col-md-3.col-xs-6
        img(src='../images/godaddy.png', style='width:170px;height:40px;')
      .col-md-3.col-xs-6.hidden-sm.hidden-xs
        img(src='../images/zendesk.png', style='width:170px;height:40px;')
                
       
  hr
