extends ../layout

block content
  .container-fluid-wider1
    .col-sm-3.col-xs-6
      h3 Hi #{user.fname}, 
         br
         | Please find your personal learning path in #{user.profile.career}
         
      p Using our machine learning algorithm we have defined a personal learning path adapted to your needs depending on the information you have provided.  
          

  .container
   br
   .col-sm-4.col-xs-8.col-sm-offset-0.col-xs-offset-2
    .box
     h3#roadmap-titre 	 Skills you will learn:
     p  	 Planning, Budgeting, Project Management
     
   .col-sm-4.col-xs-8.col-sm-offset-0.col-xs-offset-2
    .box
     h3#roadmap-titre 	 Job outcomes:
     p  	 Project Manager
   .col-sm-4.col-xs-8.col-sm-offset-0.col-xs-offset-2
    .box
     h3#roadmap-titre 	 Learning time:
     
     //70
     p 
      if user.profile.hours == "five"
        p 10 Months
      else if user.profile.hours == "ten"
        p 5 Months
      else if user.profile.hours == "twenty"
        p 2.5 Months
      else 
        p 2 Months

  br
  br
  br
  .container-fluid
   .left
    .row
     .col-md-1.col-sm-1.col-xs-1.box4
        img(src='../images/icon_star.png', style='width:32px;height:32px;')
     .col-md-2.col-sm-2.hidden-xs.box1
       img(src='http://www.technologyimprov.com/wp-content/uploads/2015/08/1_iStock_000039306742_Large_Coursera.jpg', style="max-width:173px;max-height:106px;")
     .col-md-6.col-sm-8.col-xs-10.box5
       a(target='_blank', href='https://www.coursera.org/learn/project-planning')
         h3#roadmap-titre  Initiating and Planning Projects
       p In this course, you’ll learn the key roles and responsibilities of the project manager and project team.
       
       
    
    br
    br  
    
  .container-fluid
       .left
        .row
         .col-md-1.col-sm-1.col-xs-1.box4
            img(src='../images/icon_star.png', style='width:32px;height:32px;')
         .col-md-2.col-sm-2.hidden-xs.box1
           img(src='https://www.edx.org/sites/default/files/course/image/promoted/best_practice_378x225.jpg', style="max-width:173px;max-height:106px;")
         .col-md-6.col-sm-8.col-xs-10.box5
           a(target='_blank', href='https://www.edx.org/course/best-practices-project-management-ritx-pm9002x')
             h3#roadmap-titre  Best Practices for Project Management Success
             
             
           p Learn how to create an organizational environment that supports project success.
           
           
        
        br
        br
      

       
  if user.profile.leave == "long"
         .container-fluid
             .left
              .row
               .col-md-1.col-sm-1.col-xs-1.box4
                  img(src='../images/icon_coffee.png', style='width:32px;height:32px;')
               .col-sm-2.col-xs-4
               .col-md-5.col-sm-8.col-xs-10.box5
                 a(target='_blank', href='https://gsuite.google.com/learning-center/')
                   h3#roadmap-titre 	 How to use Google Suite?
                 p  Explore ideas for working together and running your business, shared by customers from all over the world.
               .col-md-2.col-sm-2.hidden-xs.box1.hidden-sm
                         img(src='http://images.telegiz.com/data/images/full/7400/google-has-rebranded-its-apps-for-work-as-g-suite.png', style="max-width:150px;max-height:106px;")
               .col-sm-1.col-md-offset-1.hidden-xs.hidden-sm
         br
         br



   
  .container-fluid
    .left
     .row
      .col-md-1.col-sm-1.col-xs-1.box4
         img(src='../images/icon_star.png', style='width:32px;height:32px;')
      .col-md-2.col-sm-2.hidden-xs.box1

        img(src='https://webview.edx.org/sites/default/files/styles/course_video_banner/public/course/image/featured-card/international_project_318x210.jpg?itok=Qir7cScy', style="max-width:150px;max-height:106px;")
      .col-md-6.col-sm-8.col-xs-10.box5
        a(target='_blank', href='https://www.edx.org/course/international-project-management-ritx-pm9003x#!')
          h3#roadmap-titre 	 International Project Management
        p Managing global projects presents unique challenges. This course addresses the knowledge, skills and behaviors required to successfully manage projects that span organizations, national boundaries and cultural differences.
      .col-sm-2.col-md-offset-1.hidden-xs.hidden-sm
  br
  br
  
  .container-fluid
    .left
     .row
      .col-md-1.col-sm-1.col-xs-1.box4
         img(src='../images/icon_star.png', style='width:32px;height:32px;')
      .col-md-2.col-sm-2.hidden-xs.box1

        img(src='https://kukshaa.com/media/k2/items/cache/8b072d4f47fa16702f8c7356d2c88ee8_S.jpg', style="max-width:150px;max-height:106px;")
      .col-md-6.col-sm-8.col-xs-10.box5
        a(target='_blank', href='https://www.coursera.org/learn/schedule-projects')
          h3#roadmap-titre 	 Budgeting and Scheduling Projects
        p A good project schedule helps all team members’ work together to meet project objectives.  
      .col-sm-2.col-md-offset-1.hidden-xs.hidden-sm
  br
  br
  if user.profile.development == "Yes"
    .container-fluid
        .left
         .row
          .col-md-1.col-sm-1.col-xs-1.box4
             img(src='../images/icon_coffee.png', style='width:32px;height:32px;')
          .col-sm-2.col-xs-4
          .col-md-5.col-sm-8.col-xs-10.box5
            a(target='_blank', href='https://www.coursera.org/learn/project-risk-management')
              h3#roadmap-titre 	 Managing Project Risks and Changes
            p  This course will help you manage project risk effectively by identifying, analyzing, and communicating inevitable changes to project scope and objectives.
          .col-md-2.col-sm-2.hidden-xs.box1.hidden-sm
                    img(src='http://gethiredfast.com/wp-content/uploads/2012/10/bigstock-Business-social-media-network-7907818.jpg', style="max-width:150px;max-height:106px;")
          .col-sm-1.col-md-offset-1.hidden-xs.hidden-sm
    br
    br

  .container-fluid
    .left
     .row
      .col-md-1.col-sm-1.col-xs-1.box4
         img(src='../images/icon_star.png', style='width:32px;height:32px;')
      .col-md-2.col-sm-2.hidden-xs.box1

        img(src="http://www.hrinasia.com/wp-content/uploads/2016/02/risk-management.jpg" style="width:150px;height:106px;")
      .col-md-6.col-sm-8.col-xs-10.box5
        a(target='_blank', href="https://www.coursera.org/learn/hybrid-mobile-development")
          h3#roadmap-titre 	 Multiplatform Mobile App Development with Web Technologies
        p This course focuses on developing multiplatform mobile applications using the Web skills (HTML5, CSS and Javascript) that you have already acquired so far in the previous courses.
      .col-sm-2.col-md-offset-1.hidden-xs.hidden-sm



  br
  br
    
  .container
   #centre
     h4 Once you have finished your learning path, we will help you land your dream job.
     p 
      a.btn.btn-default(href='mailto:support@acuityformoms.com', role='button') Land your dream job »  

  hr
